* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  min-width: 300px;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}
.btn {
  text-decoration: none;
  font-size: 11px;
  padding: 0.6rem 0.4rem;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.dark-btn {
  background-color: black;
  color: white;
  width: 35%;
}
.clr-btn {
  padding: 1rem 2rem;
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  border: solid 1px #333;
  padding: 0.7rem 0.4rem;
  margin-bottom: 1.2rem;
}

.filter {
  padding: 0rem 1rem;
}
.filter input {
  width: 100%;
  padding: 0.7rem 0.4rem;
  border: 1px solid lightgray;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
ul li {
  display: flex;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0.5rem 0.8rem 0.89rem 0rem;
  padding: 0.62rem 0.9rem;
  justify-content: space-between;
}
ul li button {
  border: none;
  background-color: white;
  justify-self: flex-end;
  cursor: pointer;
  color: red;
}
@media screen and (max-width: 768px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
