* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: #f4f4f4;
}
h1 {
  color: #f4f4f4;
}
.container {
  min-width: 300px;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}
.edit-mode {
  color: #f6f6f6;
}
.btn {
  text-decoration: none;
  font-size: 11px;
  padding: 0.6rem 0.4rem;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.dark-btn {
  background-color: #333;
  color: #f4f4f4;
  width: 50%;
}
.clr-btn {
  padding: 1rem 2rem;
  background-color: #333;
  color: #f4f4f4;
  width: 100%;
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  border: solid 1px #888;
  background-color: #333;
  color: #f4f4f4;
  padding: 0.7rem 0.4rem;
  margin-bottom: 1.2rem;
}
input:focus {
  background-color: #333;
  outline: 1px solid green;
}

.filter {
  padding: 0rem 1rem;
}
.filter input {
  width: 100%;
  padding: 0.7rem 0.4rem;
  border: 1px solid #888;
}
.filter input:focus {
  background-color: #333;
  outline: 1px solid green;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
ul li {
  display: flex;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0.5rem 0.8rem 0.89rem 0rem;
  padding: 0.62rem 0.9rem;
  justify-content: space-between;
  background-color: #333;
  font-weight: 500;
}
ul li button {
  border: none;
  background-color: #333;
  justify-self: flex-end;
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 300px;
  }
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
